@model RegisterBookingForm

@{
    ViewData["Title"] = "CostumerService";
}

<section class="body-wrapper">
    <div class="section-header-wrapper">
        <h1 class="section-header">Customer Service</h1>
    </div>
    <partial name="partials/_ContactFormSection"/>
    <partial name="Partials/_FaqSection" />
</section>