* {
    box-sizing: border-box;
}

:root {
    --white-bg: #F7F7F7;
    --purple-tint: #131020;
    --yellow-green: #D6EB31;
    --white-font: #FFFFFF;
    --dark-font: #27252F;
    --grey: #575757;
    --black: #000000;
    --lightgrey: #E6E6E6;
    --font-family: 'Sans Serif Collection';
}

html, body {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-family: var(--font-family);
    color: var(--black);
    background-color: var(--white-bg);
    display: gird;
}
footer{
    padding-bottom: 10px;
}

.body-wrapper{
    margin-top: 100px;
}

.Home-body{

}

.wrapper {
    display: gird;
    grid-template-rows: auto 1fr auto;
    height: 100dvh;
}

.header-wrapper {
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    padding: 8px;
    z-index:1000;
}

.header-container {
    display: grid;
    grid-template-columns: auto auto auto;
    height: auto;
    width: 100%;
    color: var(--white-font);
    background: url('../Images/dark-section-img.svg');
    background-color: var(--purple-tint);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    border-radius: 20px;
    align-content: center;
    align-items: center;
}

.end-header {
    display: flex;
    margin-left: 30px;
    justify-self: start;
}

.middle-header {
    display: flex;
    justify-self: center;

    :hover {
        color: var(--yellow-green);
    }
}

.start-header {
    display: flex;
    justify-self: end;
    align-items: center;
    margin-right: 30px;
}

.mb1 {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
}

.mb1-text {
    display: flex;
    margin: auto;
    justify-content: center;
    text-decoration: none;
    color: var(--white-font);
    align-items: center;

    :hover {
        color: var(--yellow-green);
        cursor: pointer;
    }
}

#icon-img {
    margin-left:5px;
}

.img-logo{
    width:10px;
    height: 15px;
    margin: 0px 5px -2px 5px;
}


.mb2 {
    display: block;
    justify-self:start;
    text-align: center;

    .mb2container {
        justify-content: center;
        align-items: center;
        list-style-type: none;
        padding: 5px 0px;
        background-color: var(--yellow-green);
        border-radius: 25px;

        .mb2text {
            text-decoration: none;
            color: var(--dark-font);
            padding: 5px 32px;
            font-family: var(--font-family);
        }

        :hover {
            cursor: pointer;
            background-color: var(--white-bg);
            border-radius: 25px;
        }
    }
}

.mb2hero {
    display: block;
    justify-self: start;
    text-align: center;
    margin-top: 50px;
    .mb2container {
        justify-content: center;
        align-items: center;
        list-style-type: none;
        padding: 5px 0px;
        background-color: var(--yellow-green);
        border-radius: 25px;

        .mb2text {
            text-decoration: none;
            color: var(--dark-font);
            padding: 5px 32px;
            font-family: var(--font-family);
        }

        :hover {
            cursor: pointer;
            background-color: var(--white-bg);
            border-radius: 25px;
        }
    }
}

.accordion {
    :hover {
        cursor: pointer;
    }
}

.accordion-button {
    display: flex;
    justify-content: center;
    background: none;
    text-decoration: none;
    color: var(--white-font);
    align-items: center;
    transition: background-color 0.3s;
    font-family: var(--font-family);
    font-size:16px;
    border: none;

    :hover {
        color: var(--yellow-green);
    }
}

.accordion-button.active {
    color: var(--yellow-green);
}

.content-container {
    z-index:100;
    position: absolute;
    margin-top: 4px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background-color: var(--yellow-green);
}

.accordion-content {
    display: none;
    padding: 0px 5px 5px 10px;

    :hover {
        color: var(--white-font);
    }
}

.content-text {
    display:flex;
    text-decoration: none;
    color: var(--dark-font);

    :hover {
        cursor: pointer;
    }
}

.footer-wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-container {
    padding: 15px 40px;
    height: auto;
    width: 70%;
    background: url('../Images/dark-section-img-footer.svg');
    background-color: var(--purple-tint);
    background-attachment: initial;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 24px;
}

.top-footer {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    width: 100%;
    color: var(--white-font);
    align-items: center;

    .top-left-footer {
        width: 70%;
        justify-self: end;
        text-align: end;
    }

    .logo-footer {
        margin:20px 0px;
        justify-self: start;
    }
}

.footer-line {
    background-color: var(--yellow-green);
    opacity: 20%;
    width:100%;
    height:1px;
}

.middle-footer {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    color: var(--white-font);

    .text-middle-footer {
        width: 60%;
        justify-self: start;
        line-height: 23px;
    }

    .time-middle-footer {
        justify-self: end;
        text-align: end;
        line-height: 20px;
    }
}

.align-footer-text {
    line-height: 40px;
}

.bottom-footer {
    display: flex;
    margin: auto;
    margin-top: 10px;
    font-size: 10px;
    opacity: 70%;
    color: var(--white-font);
    justify-content: center;
    align-items: center;
}

.hero-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
}

.hero-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0px 40px;
    margin-top: 23px;
    padding-top: 80px;
    height: auto;
    width: 100%;
    color:var(--white-font);
    background: url('../Images/dark-section-img-hero.svg');
    background-color: var(--purple-tint);
    background-attachment: initial;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 24px;
    align-items:center;
}

.hero-left {
    margin-right: 80px;
    display: grid;
    width: 60%;
    justify-self: end;
}

.hero-title {
    font-size: 60px;
    line-height: 70px;
    margin: 20px 0px;
}

.hero-text {
    line-height: 30px;
    margin: 0px 0px 30px 0px;
}

.tag-wrapper {
    justify-self: start;
}

.tag-container {
    display:flex;
    margin:auto;
    color: var(--white-font);
    background-color: var(--dark-font);
    width: auto;
    height: auto;
    border-radius: 25px;
    border-style: solid;
    border-width:2px;
    border-color: var(--grey);

}

.tag-text{
    font-size: 13px;
    padding: 0px 10px;
    margin:auto;
}

.hero-pointers {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 30px;

    .pointer {
        display: flex;
        justify-self:start;
    }

    .point-text{
        display:flex;
        margin:auto;
        margin-left: 10px;
    }
}
#check{
    margin:auto;
    color:var(--yellow-green);
}

#dottag{
    margin-left:10px;
    color:var(--yellow-green);
}

.hero-right {
    display: grid;
    justify-self: start;
    margin-right: 200px;
    grid-template-columns: auto;

    .hero-img {
        justify-self: baseline;
    }
}

.Equipment-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
}

.Equipment-container {
    display: grid;
    width:100%;
    grid-template-columns: auto auto;
    background-color:var(--yellow-green);
    color: var(--black);
    border-radius: 25px;
    padding: 5px;
    align-items:center;

}

.company-logos {
    display: flex;
    justify-self: start;
    margin-left: 50px;

    :hover {
        padding-bottom: 20px;
        cursor: pointer;
    }

    .company-logo {
        margin-right: 50px;
    }
}

.Equipment-title {
    display: flex;
    justify-self: end;
    margin-right: 50px;
    cursor:default;
    .Equipment-text {
        font-size: 40px;
        font-weight: bolder;
        margin: auto;
    }
}



aboutus-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutus-container {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    color: var(--black);
    margin: 100px 0px;
    position: relative;
    z-index: 100;
    justify-content: center;
    align-items: center;
    margin-bottom:250px;
}

.aboutus-right {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    justify-self: center;
    margin-left:100px;
}

.aboutusimg1 {
    mask-image: url("../Images/Mask-group1.svg");
    position: absolute;
    top: 0;
}

.aboutusimg2 {
    position: absolute;
    top: -30px;
    left: 200px;
}

.aboutusimg3 {
    position: absolute;
    bottom: -150px;
    left: 0;
}

.aboutus-left {
    display: grid;
    position:relative;
}

.tag-wrapper2 {
    display:flex;
    justify-self: start;
}

.aboutus-textcontainer {
    display: grid;
    width: 50%;
    justify-self: end;
    text-align: start;

    .aboutus-title {
        color: var(--dark-font);
        font-size: 50px;
        line-height: 70px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .aboutus-undertext {
        color: var(--grey);
        line-height: 20px;
        margin: auto;
        margin-bottom: 30px;
    }
}

.aboutus-textborder {
    background-color: var(--white-font);
    border-radius: 25px;
    padding: 30px;
    margin: auto;

    .aboutus-text {
        color: var(--black);
        margin: auto;
        line-height: 20px;
    }
}


program-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content:center;
}

.program-container {
    display: grid;
    height: auto;
    width: 100%;
    background-color: var(--white-font);
    border-radius: 25px;
    padding: 100px;
    padding-bottom: 50px;
    text-align: center;
    margin-bottom: 100px;
}

.tag-wrapper3   {
    justify-self:center;
}

.program-title {
    font-size: 50px;
    width: 48%;
    margin: auto;
    margin-top: 20px;
    line-height: 70px;
    margin-bottom: 50px;
}

.program-imgbox {
    display: gird;
    margin:auto;
    grid-template-columns: auto auto auto;
    img{
        margin-right:30px;
    }
}

.program-linkbox {
    display: flex;
    margin: auto;
    color: var(--dark-font);

    .program-link {
        color: var(--dark-font);
        margin: auto;
        margin-left: 5px;
    }
}

.store-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.store-container {
    display: grid;
    height: auto;
    width: 100%;
    padding-bottom: 50px;
    text-align: center;
    margin-bottom: 50px;
    padding: 0px 100px;
}

.store-imgbox {
    display: gird;
    margin: auto;
    grid-template-columns: auto auto auto auto;

    img {
        margin-right: 30px;
    }
}

.error-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-container {
    display: grid;
    height: auto;
    width: 100%;
    padding-bottom: 200px;
    text-align: center;
    margin: 200px;
    padding: 0px 100px;
}

.error-text {
    display: grid;

    h2 {
        font-size: 50px;
    }
}

.error-button {
    justify-self: center;

    .mb2container {
        :hover {
            border-style: solid;
            border-width: 2px;
            border-color: var(--grey);
            background-color: var(--white-font);
        }
    }
}

.faq-wrapper {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.faq-container {
    display: grid;
    grid-template-columns: auto auto;
    height: auto;
    width: 100%;
    margin: 100px 0px;
    justify-content: center;
    width: 70%;
}

.faq-imgbox {
    position: relative;
    display: grid;
    justify-self: center;
    margin-right: 40px;
}

.faq-accordianbox {
    display: grid;
    text-align: start;
}

.faq-title {
    font-size: 45px;
    line-height: 70px;
    margin:auto;

    p {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.faq-accordian {
    position:relative;
}

.faqaccordion {
    display: flex;
    cursor: pointer;
    background-color: var(--white-bg);
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    font-size: 20px;

    .faqaccordion-circle {
        display: flex;
        margin: auto;
        width: 30px;
        height: 30px;
        background-color: var(--yellow-green);
        border-radius: 25px;
        align-content: center;
        align-items: center;

        #icon-img {
            margin: auto;
        }

        #icon-imgup {
            display: none;
        }
    }

    .textaccordion {
        display: flex;
        width: 100%;
    }
}

    .faqaccordion.active {
        display: flex;

        #icon-img {
            display: none;
        }

        #icon-imgup {
            margin: auto;
            display: flex;
        }
    }

.accordionbutton-wrapper {
    display:flex;
    width:100%;
    box-shadow: 0px 2px 0px var(--lightgrey);
}

.faqaccordion-panel {
    color: var(--grey);
    background-color: var(--white-bg);
    display: none;
    line-height: 20px;
    margin: auto;
    margin-left: 10px;
    justify-content: start;
    align-items: start;
}



    .accordian-point {
        display: flex;
        align-items: center;

        .point-circle {
            margin-right: 10px;
            background-color: var(--yellow-green);
            width: 5px;
            height: 5px;
            border-radius: 50px;
        }
    }
.section-header-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-header {
    margin: auto;
    font-size:50px;
}

.sigin-wrapper {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.sigin-container {
    display: grid;
    grid-template-columns: auto auto;
    height: auto;
    margin: 100px 0px;
    background-color: var(--white-bg);
    justify-content: center;
    width: 50%;
}

.signin-form {
    display: block;
    padding: 100px;
    height: 100%;
    width: 100%;
    background-color: var(--white-font);
    border-radius: 25px;
    justify-content: center;
    align-items: center;

    h1 {
        display: flex;
        margin: auto;
        font-size: 51px;
        line-height: 70px;
    }

    p {
        display: flex;
        margin: auto;
        color: var(--grey);
        line-height: 25px;
        margin-bottom: 50px;

        a {
            color: var(--yellow-green);
            text-decoration:none;
            margin-left: 5px;
        }
    }

    hr {
        width: 100%;
        color: var(--lightgrey);
        opacity: 50%;
        height: 2px;
    }

    .signin-line {
        display: flex;
        color: var(--lightgrey);
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: auto;

        p {
            display: block;
            margin-bottom: auto;
        }

        span {
            background-color: var(--lightgrey);
            height: 2px;
            width: 35%;
        }
    }

    button {
        background-color: var(--yellow-green);
        border: none;
        padding: 5px;
        font-size: 15px;
        border-radius: 25px;
        width: 90%;
        align-items: center;
        font-family: var(--font-family);
        justify-content: center;
        display: flex;
        margin: auto;
        margin-bottom: 30px;
        margin-top: 50px;
        cursor: pointer;
    }

        button:hover {
            background-color: var(--lightgrey);
        }

    .signin-undertext {
        display: flex;
    }
}

.signin-bar {
    border-color: none;
    display: block;

    input {
        padding: 20px;
        border: none;
        background-color: var(--lightgrey);
        border-radius: 15px;
        width: 100%;
        color:var(--grey);

    }
    
    span {
        color: red;
    }

        input:focus {
            outline-style: solid;
            outline-color: var(--yellow-green);
        }

    label {
        margin-top: 40px;
        display: block;
    }
}

.signin-rembar {
    border-color: none;
    display: block;

    input {
        padding: 20px;
        border: none;
        background-color: var(--yellow-green);
        border-radius: 15px;
        font-size: 10px;
        border: none;
    }

    span {
        color: red;
    }

    input:focus {
        outline-style: none;
    }

    label {
        color: var(--yellow-green);
    }
}

.signin-alt {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
    justify-content: center;
    justify-items: center;

    .sigin-circle {
        margin: auto;
        margin-right: 20px;
        padding: 30px;
        border: 1px solid var(--grey);
        border-radius: 50px;
    }

        .sigin-circle:hover {
            cursor: pointer;
            border-color: var(--yellow-green);
        }
}

.error-in-text {
    color: red;
    font-size: 10px;
}

.terms {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;

    .terms-box {
        display: block;
        height: auto;

        input {
            padding: 20px;
            font-size: 10px;
            border: none;
        }

        span {
            color: red;
        }

        input:focus {
            outline: none;
        }

        label {
            color: var(--grey);
        }
    }
}