<section>
    <div class="aboutus-wrapper">
        <div class="aboutus-container">
            <div class="aboutus-right">
                    <img src="~/Images/about-us-image-1-prime.svg" alt="aboutus image 1" class="aboutusimg1" />
                    <img src="~/Images/Mask-group2.svg" alt="aboutus image 2" class="aboutusimg2" />
                    <img src="~/Images/about-us-image-box-bg-image.svg" alt="aboutus image 3" class="aboutusimg3" />
            </div>
            <div class="aboutus-left">
                <div class="aboutus-textcontainer">
                    <div class="tag-wrapper2">
                        <div class="tag-container">
                    
                            <i class="bi bi-dot" id="dottag"></i><p class="tag-text">About Us</p>
                        </div>
                    </div>
                    <h2 class="aboutus-title">
                        Elevating Fitness Journey
                        with Expert Guidance
                    </h2>
                    <p class="aboutus-undertext">
                        We support every stage of your fitness journey with certified trainers, personalized
                        programs proven methods designed to help you train safely, build strength.
                    </p>
                    <div class="aboutus-textborder">
                        <p class="aboutus-text">
                            Our mission is to transform lives by combining expert guidance,
                            powerful training programs, and a motivating community that helps
                            you grow stronger every day.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
