
<section>
    <div class="my-sidecontroller">
        <p>Admin Options</p>
        <hr />
        <section class="hoverside"><a class="my-text" asp-area="" asp-action="UpdateMembership" asp-controller="MemeberShip">Update Membership</a><img src="~/Images/sidearrow.svg" class="img-logo" /></section>
        <hr />
        <section class="hoverside"><a class="my-text" asp-area="" asp-action="CreateMembership" asp-controller="MemeberShip">Make new Membership</a><img src="~/Images/sidearrow.svg" class="img-logo" /></section>
    </div>
</section>