
    <section>
        <div class="my-sidecontroller">
            <p>Admin Options</p>
            <hr />
            <section><a class="my-text" asp-area="" asp-action="UpdateWorkout" asp-controller="CostumerService">Update Workouts</a><img src="~/Images/sidearrow.svg" class="img-logo" /></section>
            <hr />
            <section><a class="my-text" asp-area="" asp-action="RegisterWorkout" asp-controller="CostumerService">Make new Workout</a><img src="~/Images/sidearrow.svg" class="img-logo" /></section>
        </div>
    </section>
