<section>
    <div class="Equipment-wrapper">
        <div class="Equipment-container">
            <div class="company-logos">
                <img src="~/Images/company-supports-logo-1-prime.svg" alt="Company logo 1" class="company-logo" />
                <img src="~/Images/company-supports-logo-2-prime.svg" alt="Company logo 2" class="company-logo" />
                <img src="~/Images/company-supports-logo-3-prime.svg" alt="Company logo 3" class="company-logo" />
                <img src="~/Images/company-supports-logo-4-prime.svg" alt="Company logo 4" class="company-logo" />
                <img src="~/Images/company-supports-logo-5-prime.svg" alt="Company logo 5" class="company-logo" />
            </div>
            <div class="Equipment-title">
                <h2 class="Equipment-text">Modern Equipment</h2>
            </div>
        </div>
    </div>
</section>
