<section>
    <div class="error-wrapper">
        <div class="error-container">
            <div class="error-imgbox">
                <img src="~/Images/404-error-img.svg" alt="Error Image 404" />
            </div>
            <div class="error-text">
                <h2>Oops page not found</h2>
                <p>The page you are looking for does not exists.</p>
                <div class="error-button">
                    <ul class="mb2hero">
                        <li class="mb2container">
                            <a class="mb2text" asp-area="" asp-controller="Home" asp-action="Index">
                                Back to Homepage
                                <img src="~/Images/sidearrow.svg" class="img-logo" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
