<section>
    <div class="faq-wrapper">
        <div class="faq-container">
            <div class="faq-imgbox">
                    <img src="~/Images/faqs-image.svg" alt="faq image" class="faq-img"/>
            </div>
            <div class="faq-accordianbox">

                <div class="tag-wrapper2">
                    <div class="tag-container">
                        <i class="bi bi-dot" id="dottag"></i><p class="tag-text">Frequently Asked Questions</p>
                    </div>
                </div>
                <div class="faq-title">
                    <p>
                        Common Questions about gym and training
                    </p>
                </div>
                <div class="faq-accordian">

                    <div class="accordion">
                            <button class="faqaccordion">
                                <div class="accordionbutton-wrapper">
                                <p class="textaccordion">Q1. Do I need prior gym experience to Join CoreFitness?</p>
                                <div class="faqaccordion-circle"><i class="bi bi-chevron-down" id="icon-img"></i><i class="bi bi-chevron-up" id="icon-imgup"></i></div>
                                </div>
                            </button>
                        <div class="faqaccordion-panel">
                            <p>
                                No, GymPro is designed for all fitness levels. Our trainers guide beginners with
                                proper techniques and structured workout plans to help them start safely and
                                confidently.
                            </p>

                                <div class="accordian-point">
                                    <div class="point-circle"></div>
                                    <p>Every new member receives a personalized introduction to equipments</p>
                                </div>
                                <div class="accordian-point">
                                    <div class="point-circle"></div>
                                    <p>Workouts are designed to grow with you, ensuring beginners can start safely.</p>
                                </div>

                        </div>
                    </div>

                    <div class="accordion">
                        <button class="faqaccordion">
                            <div class="accordionbutton-wrapper">
                                <p class="textaccordion">Q2. What facilities are included with the membership?</p>
                                <div class="faqaccordion-circle"><i class="bi bi-chevron-down" id="icon-img"></i><i class="bi bi-chevron-up" id="icon-imgup"></i></div>
                            </div>
                        </button>
                        <div class="faqaccordion-panel">
                            <p>
                                No, GymPro is designed for all fitness levels. Our trainers guide beginners with
                                proper techniques and structured workout plans to help them start safely and
                                confidently.
                            </p>

                            <div class="accordian-point">
                                <div class="point-circle"></div>
                                <p>Every new member receives a personalized introduction to equipments</p>
                            </div>
                            <div class="accordian-point">
                                <div class="point-circle"></div>
                                <p>Workouts are designed to grow with you, ensuring beginners can start safely.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion">
                        <button class="faqaccordion">
                            <div class="accordionbutton-wrapper">
                                <p class="textaccordion">Q3. Can I try them gym before taking a membership?</p>
                                <div class="faqaccordion-circle"><i class="bi bi-chevron-down" id="icon-img"></i><i class="bi bi-chevron-up" id="icon-imgup"></i></div>
                            </div>
                        </button>
                        <div class="faqaccordion-panel">
                            <p>
                                No, GymPro is designed for all fitness levels. Our trainers guide beginners with
                                proper techniques and structured workout plans to help them start safely and
                                confidently.
                            </p>

                            <div class="accordian-point">
                                <div class="point-circle"></div>
                                <p>Every new member receives a personalized introduction to equipments</p>
                            </div>
                            <div class="accordian-point">
                                <div class="point-circle"></div>
                                <p>Workouts are designed to grow with you, ensuring beginners can start safely.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion">
                        <button class="faqaccordion">
                            <div class="accordionbutton-wrapper">
                                <p class="textaccordion">Q4. Are there group workout programs available?</p>
                                <div class="faqaccordion-circle"><i class="bi bi-chevron-down" id="icon-img"></i><i class="bi bi-chevron-up" id="icon-imgup"></i></div>
                            </div>
                        </button>
                        <div class="faqaccordion-panel">
                            <p>
                                No, GymPro is designed for all fitness levels. Our trainers guide beginners with
                                proper techniques and structured workout plans to help them start safely and
                                confidently.
                            </p>

                            <div class="accordian-point">
                                <div class="point-circle"></div>
                                <p>Every new member receives a personalized introduction to equipments</p>
                            </div>
                            <div class="accordian-point">
                                <div class="point-circle"></div>
                                <p>Workouts are designed to grow with you, ensuring beginners can start safely.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion">
                        <button class="faqaccordion">
                            <div class="accordionbutton-wrapper">
                                <p class="textaccordion">Q5. Is nutrition guidance included in the plans?</p>
                                <div class="faqaccordion-circle"><i class="bi bi-chevron-down" id="icon-img"></i><i class="bi bi-chevron-up" id="icon-imgup"></i></div>
                            </div>
                        </button>
                        <div class="faqaccordion-panel">
                            <p>
                                No, GymPro is designed for all fitness levels. Our trainers guide beginners with
                                proper techniques and structured workout plans to help them start safely and
                                confidently.
                            </p>

                            <div class="accordian-point">
                                <div class="point-circle"></div>
                                <p>Every new member receives a personalized introduction to equipments</p>
                            </div>
                            <div class="accordian-point">
                                <div class="point-circle"></div>
                                <p>Workouts are designed to grow with you, ensuring beginners can start safely.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var acc = document.getElementsByClassName("faqaccordion");

    for (var i = 0; i < acc.length; i++) {
      acc[i].onclick = function () {

        for (var j = 0; j < acc.length; j++) {
          acc[j].classList.remove("active");
          acc[j].nextElementSibling.style.display = "none";
        }
        this.classList.add("active");
        this.nextElementSibling.style.display = "block";
      };
    }
</script>