
<section class="hero-wrapper">
    <div class="hero-container">
        <div class="hero-left">
            <div class="tag-wrapper">
                <div class="tag-container">
                    
                    <i class="bi bi-dot" id="dottag"></i><p class="tag-text">Strong Body, Strong Mind.</p>
                </div>
            </div>
            <h2 class="hero-title">Build Strength Boost Confidence Today!</h2>
            <p class="hero-text">
                    Begin your fitness journey with expert trainers, modern equipment, and a
                    supportive environment designed to help you build streangth and confidence.
            </p>
            <div class="hero-pointers">
                <div class="pointer"><i class="bi bi-check-circle" id="check"></i><p class="point-text">Transform your body with training</p></div>
                <div class="pointer"><i class="bi bi-check-circle" id="check"></i><p class="point-text">Personal training for real results</p></div>
                <div class="pointer"><i class="bi bi-check-circle" id="check"></i><p class="point-text">Build confidence through fitness</p></div>
                <div class="pointer"><i class="bi bi-check-circle" id="check"></i><p class="point-text">Fitness tailored to your goals</p></div>
            </div>
            <div class="footer-line"></div>
                                <ul class="mb2hero">
                                    <li class="mb2container">
                                        <a class="mb2text" asp-area="" asp-controller="Auth" asp-action="SignIn">
                                            Get Started
                                            <img src="~/Images/sidearrow.svg" class="img-logo" />
                                        </a>
                                    </li>
                                </ul>
        </div>
        <div class="hero-right">
            <img src="~/Images/right-column.svg" alt="CoreFitnessHeroImg" class="hero-img" />
        </div>
    </div>
</section>
