@model MembershipViewModel

<section>
    <div class="memberoptions-wrapper">
        <div>
            @foreach (var membership in Model.Memberships)
            {
                <form class="memberoptions-container" asp-controller="MemeberShip" asp-action="ConnectMembershiptoUser" asp-area="" method="post" class="membershipoptions-box">
                    <h2>@membership.Name</h2>
                    <p>@membership.Description</p>
                    <input name="id" type="hidden" value="@membership.Id"/>
                    <div>
                        @foreach (var benefit in membership.Benefits)
                        {
                                <p><i class="bi bi-check"></i> @benefit</p>
                        }
                    </div>
                        <button type="submit">Join Now</button>
                </form>
            }

        </div>
    </div>
</section>
