<section>
    <div class="store-wrapper">
        <div class="store-container">
            <div class="tag-wrapper3">
                <div class="tag-container">
                    <i class="bi bi-dot" id="dottag"></i><p class="tag-text">Our Store</p>
                </div>
            </div>
            <h2 class="program-title">
                High quality fitness products
                built for results
            </h2>

            <div class="program-imgbox">
                <img src="~/Images/product-image-1-prime.svg" alt="Store Image 1" />
                <img src="~/Images/product-image-2-prime.svg" alt="Store Image 2" />
                <img src="~/Images/product-image-3-prime.svg" alt="Store Image 3" />
                <img src="~/Images/product-image-4-prime.svg" alt="Store Image 4" />
            </div>
            <div class="program-linkbox">
                <p>Let's make something great work together.</p>
                <a class="program-link" href="...">Get Free Quote</a>
            </div>
        </div>
    </div>
</section>
