<section>
    <div class="program-wrapper">
        <div class="program-container">
            <div class="tag-wrapper3">
                <div class="tag-container">
                    <i class="bi bi-dot" id="dottag"></i><p class="tag-text">Our Programs</p>
                </div>
            </div>

                <h2 class="program-title">
                    Professional training program
                    for stronger health
                </h2>

            <div class="program-imgbox">
                <img src="~/Images/program-image-1.svg" alt="Program Image 1" />
                <img src="~/Images/program-image-2.svg" alt="Program Image 2" />
                <img src="~/Images/program-image-3.svg" alt="Program Image 3" />
            </div>
            <div class="program-linkbox">
                <p>Let's make something great work together.</p>
                <a class="program-link" href="...">Get Free Quote</a>
            </div>
        </div>
    </div>
</section>
