@model RegisterPasswordForm

@{
    Layout = "~/Views/Shared/Layouts/_AuthLayout.cshtml";
    ViewData["Title"] = "Set Your Password";
}

<section>
    <div class="sigin-wrapper">
        <div class="sigin-container">
            <form asp-action="RegisterPassword" asp-controller="Auth" method="post" novalidate>
                <h1>Set your password</h1>
                <p>Set a strong password to protect your account. For security reasons, your password must be at least 8 characters long and include uppercase and lowercase letters, numbers, and special characters.</p>
                <hr />
                <div>
                    <label asp-for="Password"></label>
                    <input asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div>
                    <input asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
                <button type="submit">Continue</button>
                @if (!string.IsNullOrWhiteSpace(ViewData["ErrorMessage"]?.ToString()))
                {
                    <div>
                        @ViewData["ErrorMessage"]
                    </div>
                }
            </form>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScript"></partial>
    }