@model SignUpFormModel
@{
    ViewData["Title"] = "Sign Up";
}

<section class="body-wrapper">
    <div>

        <form method="post" asp-controller="Auth" asp-action="SignUp" novalidate>

            <div>
                <label asp-for="Email">Email Address</label>
                <input asp-for="Email">
            </div>

            <button type="submit">Continue</button>
        </form>

    </div>
</section>