@model SignInForm

@{
    Layout = "~/Views/Shared/Layouts/_AuthLayout.cshtml";
    ViewData["Title"] = "Sign In";
}
<section>
    <div class="sigin-wrapper">
        <div class="sigin-container">
            <form class="signin-form" asp-action="SignIn" asp-controller="Auth" method="post" novalidate>
                @Html.AntiForgeryToken()
                <h1>Welcome Back!</h1>
                <p>Log in to continue your fitness journey with full access to your customized program, training history, and progress tracking. Stay consistent, monitor your development, and keep moving forward with the structure and support built into your account.</p>
                <hr />
                <div class="signin-alt">
                    <div class="sigin-circle"></div>
                    <div class="sigin-circle"></div>
                    <div class="sigin-circle"></div>
                </div>
                <div class="signin-line">
                    <span></span><p>OR CONTINUE WITH</p><span></span>
                </div>
                <div asp-validation-summary="ModelOnly"></div>

                <div class="signin-bar">
                    <label asp-for="Email">Email Address</label>
                    <input asp-for="Email" />
                    <span asp-validation-for="Email"></span>
                </div>

                <div class="signin-bar">
                    <div class="forgotpasswordbox">
                        <label asp-for="Password"></label>
                        <a class="forgotpassword" href="...">Forgot Your Password?</a>
                    </div>
                    <input asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="signin-rembar">
                    <label asp-for="RememberMe" class="rememberMe">
                        <p class="textalign">Remember Me?</p>
                        <input asp-for="RememberMe" class="rememberMeCheck" />
                        <span asp-validation-for="RememberMe" class="rememberMeSpan"></span><i class="bi bi-check-lg" id="checkmark"></i>
                    </label>
                </div>

                @if (!string.IsNullOrWhiteSpace(ViewData["ErrorMessage"]?.ToString()))
                {
                    <div class="error-in-text">
                        @ViewData["ErrorMessage"]
                    </div>
                }

                <button class="sigin-button">Continue<img src="~/Images/sidearrow.svg" class="img-logo" /></button>

                <p>
                    Not a member? <a asp-action="SignUp" asp-controller="Auth" class="forgotpassword">Become One</a>
                </p>

            </form>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScript"></partial>
    }
