<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @(string.IsNullOrEmpty(ViewData["Title"] as string) ? "CoreFitness" : ViewData["Title"] + " - CoreFitness")
    </title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

    <div class="wrapper">
        <header class="header-wrapper">
            <div class="header-container">
                <div class="end-header">
                    <a class="mb1" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/Images/logotype.svg" alt="Logotyp Fitness Core" />
                    </a>
                </div>
                <div class="middle-header">
                    <ul class="mb1">
                        <li class="mb1">
                            <a class="mb1-text" asp-area="" asp-controller="" asp-action="">
                                Fitness Centers
                            </a>
                        </li>
                    </ul>
                    <ul class="mb1">
                        <li class="mb1">
                            <a class="mb1-text" asp-area="" asp-controller="Home" asp-action="MemberShips">
                                Memberships
                            </a>
                        </li>
                    </ul>
                    <ul class="mb1">
                        <li class="mb1">
                            <div class="accordion">

                                <button id="accordionBtn" class="accordion-button" onclick="toggleAccordion(0)">
                                    Training
                                    <i class="bi bi-chevron-down" id="icon-img"></i>
                                </button>

                                <div class=" content-container">
                                    <div class="accordion-content">
                                        <a class="content-text" asp-area="" asp-controller="" asp-action="">
                                            <i class="bi bi-dot"></i> Personal Training
                                        </a>
                                    </div>
                                    <div class="accordion-content">
                                        <a class="content-text" asp-area="" asp-controller="" asp-action="">
                                            <i class="bi bi-dot"></i>Group Training
                                        </a>
                                    </div>
                                    <div class="accordion-content">
                                        <a class="content-text" asp-area="" asp-controller="" asp-action="">
                                            <i class="bi bi-dot"></i>Padel
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="mb1">
                        <li class="mb1">
                            <a class="mb1-text" asp-area="" asp-controller="Home" asp-action="CostumerService">
                                Costumer Service
                            </a>
                        </li>
                    </ul>
                    <ul class="mb1">
                        <li class="mb1">
                            <a class="mb1-text" asp-area="" asp-controller="" asp-action="">
                                Store
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="start-header">
                    <ul class="mb1-text">
                        <li class="mb1-text">
                            <a class="mb1-text" asp-area="" asp-controller="Auth" asp-action="SignUp">
                                Become Member
                            </a>
                        </li>
                    </ul>
                    <ul class="mb2">
                        <li class="mb2container">
                            <a class="mb2text" asp-area="" asp-controller="Auth" asp-action="SignIn">
                                Sign In
                                <img src="~/Images/sidearrow.svg" class="img-logo" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>Footer</footer>
    </div>
    <script>
        function toggleAccordion() {

            const sections = document.querySelectorAll(".accordion-content");
            const button = document.getElementById("accordionBtn");

            const isOpen = Array.from(sections).some(s => s.style.display === "block");

                            sections.forEach(section => {
                    section.style.display = isOpen ? "none" : "block";
                }); 

            button.classList.toggle("active", !isOpen);

        }
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
