<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @(string.IsNullOrEmpty(ViewData["Title"] as string) ? "CoreFitness" : ViewData["Title"] + " - CoreFitness")
    </title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
</head>
<body>

    <div class="wrapper">
        <header class="header-wrapper">

                <div class="end-header">
                    <h1>CoreFitness</h1>
                </div>
                <div class="middle-header">
                <ul class="mb1">
                    <li class="mb1">
                        <a class="mb1" asp-area="" asp-controller="" asp-action="">
                           Fitness Centers
                        </a>
                   </li>
                </ul>
                <ul class="mb1">
                    <li class="mb1">
                        <a class="mb1" asp-area="" asp-controller="" asp-action="">
                            Memberships
                        </a>
                    </li>
                </ul>
                <ul class="mb1">
                    <li class="mb1">
                        <a class="mb1" asp-area="" asp-controller="" asp-action="">
                            Training
                        </a>
                    </li>
                </ul>
                <ul class="mb1">
                    <li class="mb1">
                        <a class="mb1" asp-area="" asp-controller="" asp-action="">
                            Costumer Service
                        </a>
                    </li>
                </ul>
                <ul class ="mb1">
                    <li class="mb1">
                        <a class="mb1" asp-area="" asp-controller="" asp-action="">
                            Store
                        </a>
                    </li>
                </ul>
                </div>
                <div class="start-header">
                    <ul class="mb1">
                        <li class="mb1">
                            <a class="mb1" asp-area="" asp-controller="Auth" asp-action="SignUp">
                                Become Member
                            </a>
                        </li>
                    </ul>
                <ul class="mb2">
                    <li class="mb2container">
                        <a class="mb2text" asp-area="" asp-controller="Auth" asp-action="SignIn">
                             Sign In
                            </a>
                        </li>
                    </ul>
                </div>

        </header>
        <main>
            @RenderBody()
        </main>
        <footer>Footer</footer>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
