@model MyAccountViewModel

@{
    ViewData["Title"] = "My Account";
}

<div>
    <section>
        <form asp-action="My" asp-controller="User" method="post" novalidate>
        </form>
    </section>
</div>
