@model MyAccountViewModel

@{
    ViewData["Title"] = "My Account";
}

<section class="body-wrapper">
    <div class="section-header-wrapper">
        <h1 class="section-header">My Account</h1>
    </div>
        <div class="sigin-wrapper">
            <div class="sigin-container">
                <aside class="aside-controller">
                    <div>
                        @if (!string.IsNullOrWhiteSpace(Model.ProfileForm.ProfileImageUri))
                        {
                            <img src="@Model.ProfileForm.ProfileImageUri" alt="Profile Image" class="profile-image" />
                        }
                        else
                        {
                            <div class="profile-placeholder">No Profile Image</div>
                        }
                    </div>
                    <partial name="Partials/_MySideMenuSection" model="Model" />  
                    <div class="delete-section">
                        <p>If you like to cancel your account click below</p>
                        <section><form asp-controller="User" asp-action="DeleteUser" method="post"><input type="submit" value="Remove Account" /></form></section>
                    </div>
                </aside>

                <section class="main-menu-My">
                <form class="signin-form" asp-action="My" asp-controller="User" method="post"  novalidate>
                        <h1>About me</h1>
                        <hr />

                        @if (!string.IsNullOrWhiteSpace(ViewData["Message"]?.ToString()))
                        {
                            if (ViewData["MessageType"]?.ToString() == "error")
                            {
                                <div class="error-in-text">
                                    @ViewData["Message"]
                                </div>
                            }
                            else
                            {
                                <div class="success-in-text">
                                    @ViewData["Message"]
                                </div>
                            }
                        }

                        <div class="signin-bar">
                            <label asp-for="ProfileForm.FirstName"></label>
                            <input asp-for="ProfileForm.FirstName" />
                            <span asp-validation-for="ProfileForm.FirstName"></span>
                        </div>

                        <div class="signin-bar">
                            <label asp-for="ProfileForm.LastName"></label>
                            <input asp-for="ProfileForm.LastName" />
                            <span asp-validation-for="ProfileForm.LastName"></span>
                        </div>

                        <div class="signin-bar">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" />
                            <span asp-validation-for="Email"></span>
                        </div>

                        <div class="signin-bar">
                            <label asp-for="ProfileForm.PhoneNumber"></label>
                            <input asp-for="ProfileForm.PhoneNumber" />
                            <span asp-validation-for="ProfileForm.PhoneNumber"></span>
                        </div>

                        <hr />

                        <div class="signin-bar">
                            <label asp-for="ProfileForm.ProfileImageUri"></label>
                            <input type="file" asp-for="ProfileForm.ProfileImageUri" />
                            <span asp-validation-for="ProfileForm.ProfileImageUri"></span>
                        </div>

                        <button type="submit">Save<img src="~/Images/sidearrow.svg" class="img-logo" /></button>
                    </form>
                </section>
            </div>
        </div>
</section>
