@model MyMembershipViewModel

@{
    ViewData["Title"] = "My Membership";
}


<section class="body-wrapper">
    <div class="section-header-wrapper">
        <h1 class="section-header">My Account</h1>
    </div>
    <div class="sigin-wrapper">
        <div class="sigin-container">
            <aside>
                <partial name="Partials/_MySideMenuSection" model="Model" />
                 <div>
                        <partial name="Partials/_EditMemberShipSection" model="Model" />
                </div>
            </aside>

            <section>
                    <div class="signin-form">
                        <h1>My Membership</h1>
                        <hr />

                    @if (!string.IsNullOrWhiteSpace(ViewData["Message"]?.ToString()))
                    {
                        if (ViewData["MessageType"]?.ToString() == "error")
                        {
                            <div class="error-in-text">
                                @ViewData["Message"]
                            </div>
                        }
                        else
                        {
                            <div class="success-in-text">
                                @ViewData["Message"]
                            </div>
                        }
                    }

                    @if (Model.MembershipName != string.Empty)
                    {
                        var status = Model.status;
                        var header = Model.MembershipName;
                        var text = Model.Description;
                        <div>
                            <p> @header </p>
                            <p> @status </p>
                            <p> @text </p>
                                @if(Model.Benefits.Count() != 0)
                                {
                                    @foreach (var Benefit in Model.Benefits)
                                    {
                                        <p>@Benefit</p>
                                    }
                                }
                                else 
                                {
                                    <p>No Benefits</p>
                                }
                            <form asp-controller="MemeberShip" asp-action="DeleteMembership" method="post"><input type="submit" name="id" value="@Model.MembershipId" /></form>
                        </div>
                    }
                    @if (Model.MembershipName == string.Empty)
                    {
                        <p>You Have No MemberShip</p>
                    }
                    </div>
            </section>
        </div>
    </div>
</section>