@section Hero {
    <partial name="Partials/_HeroSection"/>
}
<section class="Home-body">
    <partial name="Partials/_EquipmentSection"/>
    <partial name="Partials/_AboutUsSection"/>
    <partial name="Partials/_OurProgramSection"/>
    <partial name="Partials/_OurStoreSection" />
</section>