* {
    box-sizing: border-box;
}

:root {
    --white-bg: #F7F7F7;
    --purple-tint: #131020;
    --yellow-green: #D6EB31;
    --white-font: #FFFFFF;
    --dark-font: #27252F;
    --grey: #575757;
    --black: #000000;
}

html, body {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Sans Serif Collection';
    color: var(--black);
    background-color: var(--white-bg);
    margin: 0;
    display: gird;
}

.wrapper {
    display: gird;
    grid-template-rows: auto 1fr auto;
    height: 100dvh;
    margin: 10px;
}

.header-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 10dvh;
    width: 100%;
    color: var(--white-font);
    background-color: var(--purple-tint);
    border-radius: 20px;
    align-content: center;
    align-items: center;
}
.end-header {
    display:flex;
    margin-left: 30px;
    justify-self: start;
}

.middle-header {
    display: flex;
    justify-self: center;

    :hover {
        color: var(--yellow-green);
        cursor: pointer;
    }
}

.start-header {
    display: flex;
    justify-self: end;
    align-items: center;
    margin-right: 30px;
    margin-left: 20px;
}

.mb1 {
    display:flex;
    text-decoration:none;
    color: var(--white-font);
    :hover {
        color: var(--yellow-green);
        cursor: pointer;
    }
}


.mb2 {
    display: block;
    text-align: center;

    .mb2container {
        justify-content: center;
        align-items: center;
        list-style-type: none;
        padding: 5px 0px;
        background-color: var(--yellow-green);
        border-radius: 25px;

        .mb2text {
            text-decoration: none;
            color: var(--dark-font);
            padding: 5px 32px;
            font-family: 'Sans Serif Collection';
        }

        :hover {
            cursor: pointer;
            background-color: var(--white-bg);
            border-radius: 25px;
        }
    }
}