* {
    box-sizing: border-box;
}

:root {
    --white-bg: #F7F7F7;
    --purple-tint: #131020;
    --yellow-green: #D6EB31;
    --white-font: #FFFFFF;
    --dark-font: #27252F;
    --grey: #575757;
    --black: #000000;
    --font-family: 'Sans Serif Collection';
}

html, body {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-family: var(--font-family);
    color: var(--black);
    background-color: var(--white-bg);
    display: gird;
}

main {
    margin-top: 100px;
}
.wrapper {
    display: gird;
    grid-template-rows: auto 1fr auto;
    height: 100dvh;
}

.header-wrapper {
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    padding: 10px;
}

.header-container {
    display: grid;
    grid-template-columns: auto auto auto;
    height: auto;
    width: 100%;
    color: var(--white-font);
    background: url('../Images/dark-section-img.svg');
    background-color: var(--purple-tint);
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 20px;
    align-content: center;
    align-items: center;
}

.end-header {
    display: flex;
    margin-left: 30px;
    justify-self: start;
}

.middle-header {
    display: flex;
    justify-self: center;

    :hover {
        color: var(--yellow-green);
    }
}

.start-header {
    display: flex;
    justify-self: end;
    align-items: center;
    margin-right: 30px;
}

.mb1 {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
}

.mb1-text {
    display: flex;
    margin: auto;
    justify-content: center;
    text-decoration: none;
    color: var(--white-font);
    align-items: center;

    :hover {
        color: var(--yellow-green);
        cursor: pointer;
    }
}

#icon-img {
    margin-left:5px;
}

.img-logo{
    width:10px;
    height: 15px;
    margin: 0px 5px -2px 5px;
}


.mb2 {
    display: block;
    text-align: center;

    .mb2container {
        justify-content: center;
        align-items: center;
        list-style-type: none;
        padding: 5px 0px;
        background-color: var(--yellow-green);
        border-radius: 25px;

        .mb2text {
            text-decoration: none;
            color: var(--dark-font);
            padding: 5px 32px;
            font-family: var(--font-family);
        }

        :hover {
            cursor: pointer;
            background-color: var(--white-bg);
            border-radius: 25px;
        }
    }
}

.accordion {
    :hover {
        cursor: pointer;
    }
}

.accordion-button {
    display: flex;
    justify-content: center;
    background: none;
    text-decoration: none;
    color: var(--white-font);
    align-items: center;
    transition: background-color 0.3s;
    font-family: var(--font-family);
    font-size:16px;
    border: none;

    :hover {
        color: var(--yellow-green);
    }
}

.accordion-button.active {
    color: var(--yellow-green);
}

.content-container {
    position: absolute;
    margin-top: 4px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background-color: var(--yellow-green);
}

.accordion-content {
    display: none;
    padding: 0px 5px 5px 10px;

    :hover {
        color: var(--white-font);
    }
}

.content-text {
    display:flex;
    text-decoration: none;
    color: var(--dark-font);

    :hover {
        cursor: pointer;
    }
}