@model WorkoutViewModel

@{
    ViewData["Title"] = "CostumerService";
}

<section>
    <div class="section-header-wrapper">
        <h1 class="section-header">Customer Service</h1>
    </div>
    <partial name="Partials/_ContactFormSection" />
    <partial name="Partials/_FaqSection" />
</section>
