@model MembershipViewModel

@{
    ViewData["Title"] = "MemberShips";
}
<section class="body-wrapper">
    <div class="section-header-wrapper">
        <h1 class="section-header">Our Membership Offers</h1>
    </div>
    <partial name="Partials/_MembershipsOptionsSection" />
    <partial name="Partials/_FaqSection" />
</section>
@section Scripts {
    <partial name="_ValidationScript"></partial>
    }
